.card-img-top {
    width: 100%;
    /* Ocupa todo el ancho del contenedor */
    height: 200px;
    /* Altura fija */
    object-fit: cover;
    /* Ajusta la imagen manteniendo sus proporciones */
    object-position: center;
    /* Centra la imagen en caso de recorte */
}